* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 116rem;
  margin: 0 auto;
}
body {
  background: #fafafa;
}
.swiper-button-prev,
.swiper-button-next {
  background: #3781df;
  border-radius: 50px;
  width: 50px !important;
  height: 50px !important;
  display: inline-block;
  color: #fff !important;
  top: 40% !important;
}
@media (max-width: 776px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 25% !important;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2rem !important;
}
